@model IEnumerable<PracticeManagement.Core.Models.PollMentorAnswer>
@{
                /**/

                ViewBag.Title = "PollMentorAnswers";
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Poll Mentor Answer</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="MentorRates" class=" data table table-striped no-margin">
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        <th>MentorsID</th>
                        <th>Mentors Name</th>
                        <th>A1</th>
                        <th>A2</th>
                        <th>A3</th>
                        <th>A4</th>
                        <th>A5</th>
                        <th>Grade</th>
                        <th>StudentsID</th>
                        <th>Students Name</th>
                        <th>Add Rate</th>
                        <th>Edit Rate</th>
                        <th>Activated</th>
                        <th>Delete Rate</th>

                        @*   <th><a href="@Url.Action("Create","MentorRates")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></th>*@
                        @*  <th><a href="@Url.Action("RegisterMentor","Account")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>


                        <td>@item.Mentors.Id</td>
                        <td>@item.Mentors.Name</td>
                        <td>@item.A1</td>
                        <td>@item.A2</td>
                        <td>@item.A3</td>
                        <td>@item.A4</td>
                        <td>@item.A5</td>
                        <td>@item.FinalGrade</td>
                        <td>@item.Students.Id</td>
                        <td>@item.Students.Firstname</td>
                        <td><a href="@Url.Action("RegisterMentor","Account")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></td>
                        <td>
                            <a href="@Url.Action("Edit","MentorRates", new { id = item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>Edit</a>
                            @* <a href="@Url.Action("Edit","MentorRates", new { id = item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>Edit</a>*@
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs js-toggle" data-pollMentorAnswer-id="@item.Id"><i class="fa fa-folder"></i>@(item.Active ? "Deactivate" : "Activate")</button>
                        </td>

                        <td>
                            <button class="btn btn-danger btn-xs js-delete" data-pollMentorAnswer-id="@item.Id"><i class="fa fa-trash-o"></i>Delete</button>
                        </td>
                    </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                var table = $('#PollMentorAnswers').DataTable();

                $("#PollMentorAnswers").on("click", ".js-delete", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this rate?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/PollMentorAnswers/delete/" + button.attr("data-pollMentorAnswer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });

                $("#PollMentorAnswers").on("click", ".js-toggle", function () {
                    var button = $(this);
                    bootbox.confirm("Toggle the status of this mentor?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/PollMentorAnswers/togglestatus/" + button.attr("data-pollMentorAnswer-id"),
                                method: "POST",
                                success: function () {
                                    location.reload();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }
