@model PracticeManagement.Core.ViewModel.PracticeBreakIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="PracticeBreak" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Vrijeme dolaska</th>
                            <th>Vrijeme odlaska</th>
                            <th><a href="@Url.Action("Create", "PracticeBreaks", new {practiceAttendanceId = Model.PracticeAttendance.Id})" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.PracticeBreaks)
                    {
                        <tr>
                            <td>@item.PracticeAttendance.Date.ToString("d")</td>
                            <td>@item.TimeStart.ToString("t")</td>
                            <td>@item.TimeEnd.ToString("t")</td>
                            <td>
                                <a href="@Url.Action("Details","PracticeBreaks", new { id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-folder"></i>View</a>
                                <a href="@Url.Action("Delete","PracticeBreaks", new { id = item.Id, practiceAttendanceId = Model.PracticeAttendance.Id })" class="btn btn-danger btn-xs"><i class="fa fa-trash-0"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#PracticeBreak').DataTable();
        });

                                                //$("#PracticeBreak").on("click", ".js-toggle", function () {
                                                //    var button = $(this);
                                                //    bootbox.confirm("Jeste li sigurni da zelite promijeniti status (odobri-ponisti)?", function (result) {
                                                //        if (result) {
                                                //            $.ajax({
                                                //                url: "/StudentDnevnik/ToggleStatus/" + button.attr("data-StudentDnevnik-id"),
                                                //                method: "POST",
                                                //                success: function () {
                                                //                    location.reload();
                                                //                }
                                                //            });
                                                //        }
                                                //    });
                                                //});
    </script>
}
