@model IEnumerable<PracticeManagement.Core.Models.Internship>
@{ ViewBag.Title = "Index"; }
<div class="page-title">
    <div class="title_left">
        <h3>Pregled stručnih praksi</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="Internships" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Stručna praksa</th>
                            <th>Smjer</th>
                            <th>Godina</th>
                            <th>Profesor</th>
                            <th>Status</th>
                            <th></th>
                            <th><a href="@Url.Action("Create","Internships")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>     Add new</a></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.FacultyCourses.Course</td>
                    <td>@item.YearOfStudies.Year</td>
                    <td>@item.Profesors.Name</td>
                    <td>
                        @{ if (item.Status == 1)
                            {
                <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Active</a> }
            else
            {
                <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>Inactive</a> } }
                    </td>
                    <td>
                        <a href="@Url.Action("Details","Internships", new { id = item.Id})" class="btn btn-default btn-xs"><i class="fa fa-folder"></i>Details</a>
                    </td>
                    <td>
                        <button class="btn btn-basic btn-block btn-xs js-toggle" data-internship-id="@item.Id"><i class="fa fa-toggle-on"></i>@(item.Status == 1 ? "Deactivate" : "Activate")</button>
                    </td>
                </tr>}
                </table>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Internships").DataTable();

            $("#Internships").on("click", ".js-toggle", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to change the status of this internship?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/internships/togglestatus/" + button.attr("data-internship-id"),
                            method: "POST",
                            success: function () {
                                location.reload();
                            }
                        });
                    }
                });
            });

        });
    </script>
}


