@model PracticeManagement.Core.ViewModel.StudentFormViewModel

@{
    ViewBag.Title = "Student form";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Add Student </h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { @class = "form-horizontal form-label-left", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)

                    @*<div class="form-group">
                <label class="control-label col-sm-3 col-xs-12">Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Firstname)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-xs-12">Phone</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Lastname)
                </div>
            </div>*@

                    @*<div class="form-group">
                <label class="control-label col-sm-3 col-xs-12">Specializations</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(m => m.Specialization, new SelectList(Model.Specializations, "Id", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Specialization)
                </div>
            </div>*@
                    @*<div class="form-group">
                <label class="control-label col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control " })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>*@


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Firstname <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control col-md-7 col-xs-12", autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.Firstname)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lastname <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control col-md-7 col-xs-12", autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.Lastname)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email na fakultetu <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-7 col-xs-12", autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class=" form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">City <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.City, new SelectList(Model.Cities, "Id", "Name"), "Select", new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                    </div>
                    <div class=" form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.Faculty, new SelectList(Model.Faculties, "Id", "Name"), "Select", new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Faculty)
                        </div>
                    </div>
                    <div class=" form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty Course <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.FacultyCourse, new SelectList(Model.FacultyCourses, "Id", "Course"), "Select", new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.FacultyCourse)
                        </div>
                    </div>
                    <div class=" form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Year <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.YearOfStudy, new SelectList(Model.YearOfStudies, "Id", "Year"), "Select", new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.YearOfStudy)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">CV <span class="required"></span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.CV, new { @class = "form-control col-md-7 col-xs-12", autofocus = "true" })
                            @Html.ValidationMessageFor(m => m.CV)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Status</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="radio">
                                <label> @Html.RadioButtonFor(model => model.Active, 1, new { @class = "flat" }) Active </label>
                                <label> @Html.RadioButtonFor(model => model.Active, 0, new { @class = "flat" }) Deactive </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Email account</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Confirm Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword)
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}